<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ $styles := resources.Get "css/styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  </head>
  <body>
    <div class="site">
      {{ partial "header.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
